.bloc-right {
    display: flex;
    flex-direction: column;
    width: 400px;
    z-index: 2;
    margin-left: 80px;
}
.bloc-right > .title {
    text-align: left;
    font-size: 22px;
}
.bloc-right > .center  {
    width: 100%;
    margin-bottom: 30px;
    font-size: 55px;
    margin-top: 15px;
}
.bloc-right > .bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bloc-right > .bottom > .text-prix {
    width: 45%;
    text-align: center;
}
.bloc-right > .bottom > .text-prix > .prix {
    color: #FFFF00;
}
.bloc-right > .bottom > .galaxie {
    background-color: #FF4BB5;
    color: #FFFFFF;
    border-radius: 4px;
    width: 45%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.sansrisque > i{
    font-size: 14px;
    color: #4FBA5B;
    margin-right: 8px;
}
.bloc-right > .center > h1 {
    margin: 0;
    font-size: 55px;
    width: 600px;
}
.bloc-right > .center > h1:nth-child(2) {
    margin: 24px 0;
    color: #998E8D;
}